.images {
    height: 100px;
    width: 100px;
}

/* wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgb(140, 255, 0); 
} */

#header-flex-container {
    width: 100vw;
}

footer {
    /* margin-top: 50px;
    position: absolute; */
    
}

.container {
    margin: auto;
}

#dog-box {
    margin-top: 50px;
}

#adoption-info-container {
    margin: auto;
    justify-self: center;
    width: 70vw;
    margin-top: 50px;
}

input {
    border: black solid 3px;
}

.hover-color:hover {
    color: yellow;
}

/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
    #favorites, #adoption-info-container {
      font-size: 18px;
    }
  }

  /* If the screen size is 600px or less, set the font-size of <div> to 30px */
  @media only screen and (max-width: 600px) {
    #favorites, #adoption-info-container {
      font-size: 15px;
    }
  }
 /* if screen size is 600px or less than favorites column goes under adoption, random dog column */
 @media screen and (max-width: 600px) {
    #adoption-info-container, #dog-box {
      flex-direction: column-reverse;
      align-items: center;
    }
  }